@page "{CategorieId:int}"
@using System.Globalization;
@model WebdevProjectStarterTemplate.Pages.Categories.Update

<div class="row">
    <div class="col">
        <h1>Bijwerken Categorie</h1>
        <form method="POST">
            <input type="hidden" asp-for="Categorie.Id" />
            <div class="form-group">
                <label asp-for="Categorie.Naam">Naam:</label>
                <input asp-for="Categorie.Naam" class="form-control" />
                <span asp-validation-for="Categorie.Naam"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Bijwerken</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Annuleren</button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h2>Snacks van deze Categorie</h2>
        <a href="~/Snacks/Create" class="btn btn-primary my-3">Nieuwe Snack aanmaken</a>
    </div>
</div>

<div class="row">
    @foreach (var snack in Model.ListSnacks)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Naam: @snack.Naam</h5>
                    <strong>Prijs:</strong> @((snack.Prijs / 100m).ToString("C", new CultureInfo("nl-NL")))<br />
                    <p class="card-text"><strong>Beschrijving:</strong> @snack.Beschrijving</p>
                    <a asp-page="/Snacks/Delete" asp-route-snackId="@snack.Id" class="btn btn-danger">Verwijderen</a>
                    <a asp-page="/Snacks/Update" asp-route-snackId="@snack.Id" class="btn btn-info">Bijwerken</a>
                </div>
            </div>
        </div>
    }
</div>
