@page
@using WebdevProjectStarterTemplate.Models
@using WebdevProjectStarterTemplate.Pages
@model WebdevProjectStarterTemplate.Pages.History.Index
<div class="row">
    <div class="col">
        
        <h1>History</h1>
        
        <form method="GET">
            <label for="jaar">Jaar: </label>
            <select name="jaar" id="jaar">
                <option>elk</option>
                @foreach (int jaar in Model.BeschikbareJaren)
                {
                    @if (Model.geselecteerdJaar == jaar)
                    {
                        <option value="@jaar" selected="selected">@jaar</option>
                    }
                    else
                    {
                        <option value="@jaar">@jaar</option>
                    }
                }
            </select>
            <label for="week">Week: </label>
            @if (Model.BeschikbareWeken is not null)
            {
                <select name="week" id="week">
                    <option>elke</option>
                    @foreach (int week in Model.BeschikbareWeken)
                    {
                        @if (week == Model.geselecteerdeWeek)
                        {
                            <option value="@week" selected="selected">@week</option>
                        }
                        else
                        {
                            <option value="@week">@week</option>
                        }
                    }
                </select>
            }
            else
            {
                <select disabled="disabled" id="week">
                    <option>Selecteer eerst jaar</option>
                </select>
            }

            @foreach (var relativiteit in Enum.GetNames<TijdsRelativiteit>())
            {
                <label for="rel_@relativiteit">@relativiteit: </label>
                <input type="radio" name="relativiteit" value="@relativiteit" id="rel_@relativiteit">
            }

            <input type="submit" value="submit" name="submit">
        </form>
        
        <table class="table table-striped">
        <tbody>
        <tr>
            <td>Snack</td> <td>aantal</td>
        </tr>
        @foreach (History history in Model.History)
        {
            <tr>
                <td>
                    <a asp-page="@nameof(Pages.Snacks.UpdateModel)" asp-route-snackId="@history.Snack.Id"> @history.Snack.Naam </a>
                </td>
                <td>
                    @history.Totaal
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</div>
