@page
@model WebdevProjectStarterTemplate.Pages.Snacks.IndexModel

<div class="row">
    <div class="col">
        <h1 id="title">Snacks</h1>
        @if (Model.isAdmin)
        {
            <a asp-page="@nameof(Create)" class="btn btn-primary">Nieuwe Snack</a>
        }

        <form method="get">
            <div class="my-3">
                <span class="d-inline-block w-100 text-truncate">Snackbar: </span>
                <a href="/Snacks" class="btn btn-secondary">alle</a>
                <div class="btn-group" role="group">
                    @foreach (var snackbar in Model.SnackbarFilters)
                    {
                        @if (Model.selectedSnackbarId == snackbar.Id)
                        {
                            <button type="submit" name="snackbarID" value="@snackbar.Id" class="btn btn-outline-secondary">@snackbar.Naam</button>
                        }
                        else
                        {
                            <button type="submit" name="snackbarID" value="@snackbar.Id" class="btn btn-outline-secondary">@snackbar.Naam</button>
                        }
                    }
                </div>
                <br />
                <span class="d-inline-block w-100 text-truncate">Categorie: </span>
                <a href="/Snacks" class="btn btn-secondary">alle</a>
                <div class="btn-group" role="group">
                    @foreach (var category in Model.CategoryFilters)
                    {
                        @if (Model.selectedCategoryId == category.Id)
                        {
                            <button type="submit" name="categoryID" value="@category.Id" class="btn btn-outline-secondary">@category.Naam</button>
                        }
                        else
                        {
                            <button type="submit" name="categoryID" value="@category.Id" class="btn btn-outline-secondary">@category.Naam</button>
                        }
                    }
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            @foreach (var snack in Model.SelectedSnacks)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@snack.Naam</h5>
                            <p class="card-text">
                                <strong>Prijs in centen:</strong> @((snack.Prijs / 100m).ToString("0.00"))<br />
                                <strong>Beschrijving:</strong> @snack.Beschrijving
                            </p>
                            @if (Model.isAdmin)
                            {
                                <div class="text-right">
                                    <a asp-page="@nameof(Delete)" asp-route-snackId="@snack.Id" class="btn btn-danger mb-2">Verwijder</a>
                                    @*<br />*@
                                    <a asp-page="@nameof(Update)" asp-route-snackId="@snack.Id" class="btn btn-info mb-2">Bijwerken</a>
                                </div>
                            }
                            else
                            {
                                @if (Model.bestellingsSnackIds.Contains(snack.Id))
                                {
                                    <form method="g">
                                        <div>
                                            <button type="submit" asp-page-handler="Redirect" class="btn btn-success">Toegevoegd</button>
                                        </div>
                                    </form>
                                  
                                }
                                else
                                {
                                    <div>
                                        <form method="post">
                                            <input type="hidden" name="snackId" value="@snack.Id">
                                            <input type="text" name="opmerking">
                                            <button type="submit" asp-page-handler="Add" class="btn btn-success">+</button>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>