@page "{snackId:int}"
@model WebdevProjectStarterTemplate.Pages.Snacks.Update

<div class="row">
    <div class="col">
        <h1>Update Snack</h1>
        <form method="POST">
            <input type="hidden" asp-for="snack.Id" />
            <div class="form-group">
                <label asp-for="snack.Naam">Naam:</label>
                <input asp-for="snack.Naam" class="form-control" />
                <span asp-validation-for="snack.Naam"></span>
            </div>
            <div class="form-group">
                <label asp-for="snack.Prijs">Prijs:</label>
                <input asp-for="snack.Prijs" class="form-control" />
                <span asp-validation-for="snack.Prijs"></span>
            </div>
            <div class="form-group">
                <label asp-for="snack.Beschrijving">Beschrijving:</label>
                <textarea asp-for="snack.Beschrijving" class="form-control" rows="3"></textarea>
                <span asp-validation-for="snack.Beschrijving"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Snack.CategorieID">Categorie:</label>
                <select asp-for="Snack.CategorieID" class="form-control">
                    <option value="">Choose a Categorie</option>
                    @foreach (var categorie in ViewBag.Categorieen)
                    {
                        <option value="@categorie.Id">@categorie.Naam</option>
                    }
                </select>
                <span asp-validation-for="Snack.CategorieID"></span>
            </div>*@
            <div class="input-group mt-3">
                <label class="input-group-text">snackbar:</label>
                <select asp-for="snack.Snackbarid" class="form-control">
                    <option></option>
                    @foreach (var SnackBars in Model.ListSnackBars)
                    {
                        <option asp-for="snack.Snackbarid" value="@SnackBars.Id">@SnackBars.Naam</option>
                    }
                </select>

            </div>
            <div class="input-group mt-3">
                <label class="input-group-text">categorie:</label>
                <select asp-for="snack.CategorieId" class="form-control">
                    <option></option>
                    @foreach (var Categorie in Model.ListCategorie)
                    {
                        <option asp-for="snack.CategorieId" value="@Categorie.Id">@Categorie.Naam</option>
                    }
                </select>

            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Update</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>
