@page
@model WebdevProjectStarterTemplate.Pages.Winkelwagen.Index
@using WebdevProjectStarterTemplate.Pages.Winkelwagen;
@{
    <div class="row">
        <div class="col">
            <h1>Mijn bestelling</h1>

            <hr>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Snack naam</th>
                        <th>Hoeveelheid</th>
                        <th>Opmerking</th>
                        <th>Prijs</th>
                        <th>Totaal</th>
                        <th></th>
                    </tr>
                    @foreach (var bestelling in Model.Bestelling)
                    {
                         <form method="POST">

                        <tr>
                   
                            <td>@bestelling.Snack.Naam</td>
                            <td>
                                <input type="hidden" name="aantal" value="@bestelling.Aantal">
                                <input type="hidden" name="bestellingId" value="@bestelling.Id">
                                    @if (bestelling.Bevestigd == 0)
                                    {
                                    <button type="submit" asp-page-handler="Decrement" class="btn btn-succes">-</button>
                                    }

                                @bestelling.Aantal
                                    @if (bestelling.Bevestigd == 0)
                                    {
                                <button type="submit" asp-page-handler="Increment" class="btn btn-succes">+</button>
                                    }
                            </td>
                            <td>
                                    @bestelling.Opmerking
                 

                                </td>
                            <td>@bestelling.Snack.Prijs $</td>
                            <td>@(bestelling.Snack.Prijs * bestelling.Aantal) $</td>
                            <td>
                            @if (bestelling.Bevestigd == 0)
                                    {
                                    <a asp-page="@nameof(Delete)" asp-route-bestellingId="@bestelling.Id" class="btn btn-danger">Verwijderen</a>
                                    }

                            </td>
                        </tr>

                        </form>
                    }

                </tbody>
            </table>
            <p>
                @(Model.TotalOrderValue / 100.0)
            van
                @(Model.budgets / 100.0)
            </p>
            @if (Model.TotalOrderValue > Model.budgets)
            {
                <h3 class="text-danger">Je zit boven het budget</h3>
            }
            else
            {
                <form method="POST">
                    <button type="submit" asp-page-handler="LockInOrder" class="btn btn-danger">Bestelling opslaan</button>
                </form>
            }
       
          
            
       
        </div>
    </div>
}
