@page
@using WebdevProjectStarterTemplate.Pages.Categories
@model WebdevProjectStarterTemplate.Pages.Snackbars.Index
@{
}
<div class="row">
    <div class="col">
        <h1>Display Snackbars</h1>

        <a asp-page="@nameof(Create)" class="btn btn-primary">Create New Snackbar</a>
        <hr>
        <table class="table table-striped">
            <tbody>
            @foreach (var snackbar in Model.Snackbars)
            {
                <tr class="d-flex align-content-start flex-wrap">
                        <td class="Snackbar-naam">@snackbar.Naam</td>
                    <td>
                            <a asp-page="@nameof(Delete)" asp-route-snackbarId="@snackbar.Id" class="btn btn-danger mb-2">Delete</a>
                            <br />
                        <a asp-page="@nameof(Update)" asp-route-snackbarId="@snackbar.Id" class="btn btn-info">Update</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>