@page "{snackbarId:int}"
@model WebdevProjectStarterTemplate.Pages.Snackbars.Update

<div class="row">
    <div class="col">
        <h1>Update Snackbar</h1>
        <form method="POST">
            <input type="hidden" asp-for="Snackbar.Id"/>
            <div class="form-group">
                <label asp-for="Snackbar.Naam">Name:</label>
                <input asp-for="Snackbar.Naam" class="form-control"/>
                <span asp-validation-for="Snackbar.Naam"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Update</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <br />
    <h1>Snacks van deze Snackbar</h1>
    <br />
    <a href="~/Snacks/Create" class="btn btn-primary my-3">Create New Snack</a>
</div>
<div class="row">
    <table class="table table-striped">
        <tbody>
            @foreach (var snack in Model.ListSnacks)
            {
                <tr class="d-flex align-content-start flex-wrap">
                    <td class="snack-naam">
                        <strong>Naam:</strong> @snack.Naam
                        <br />
                        <strong>Prijs:</strong> @snack.Prijs
                    </td>
                    <td class="snack-descriptie">
                        <strong>Beschrijving:</strong> @snack.Beschrijving
                    </td>
                    <td>
                        <a asp-page="/Snacks/Delete" asp-route-snackId="@snack.Id" class="btn btn-danger mb-2">Delete</a>
                        <br />
                        <a asp-page="/Snacks/Update" asp-route-snackId="@snack.Id" class="btn btn-info">Update</a> <!-- UpdateModel hernoemen naar Update?-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>